<?xml version='1.0'?>
<config
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd"
>
<!-- 2019-11-21 -->
	<event name='controller_action_predispatch_customer_account_createpost'>
		<observer instance='RWCandy\Captcha\Observer' name='RWCandy\Captcha\Observer'/>
	</event>
</config>